In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ss\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ss\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ss\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ss\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\ss\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Series

In [9]:
import pandas as pd
a=[1,7,2]
myvar=pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [16]:
import pandas as pd
a=[1,7,8]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    8
dtype: int64

In [20]:
import pandas as pd
calories={"day 1":420,"day 2":380,"day 3":390}
myvar=pd.Series(calories)
print(myvar)

day 1    420
day 2    380
day 3    390
dtype: int64

In [24]:
import pandas as pd
calories={"day 1":420,"day 2":380,"day 3":390}
myvar=pd.Series(calories,index=["day 1","day 3"])
print(myvar)

day 1    420
day 3    390
dtype: int64

# DataFrames

In [38]:
import pandas as pd
data={
    "calories":[420,380,390,220,540,250,850,360,520,123,425,20,258,202],
    "duration":[50,40,45,40,32,25,85,65,25,12,15,25,32,33]
}
df=pd.DataFrame(data)
print(df)

    calories  duration
0        420        50
1        380        40
2        390        45
3        220        40
4        540        32
5        250        25
6        850        85
7        360        65
8        520        25
9        123        12
10       425        15
11        20        25
12       258        32
13       202        33

In [40]:
df.head()

   calories  duration
0       420        50
1       380        40
2       390        45
3       220        40
4       540        32

In [42]:
df.columns

Index(['calories', 'duration'], dtype='object')

In [44]:
print(df["calories"])

0     420
1     380
2     390
3     220
4     540
5     250
6     850
7     360
8     520
9     123
10    425
11     20
12    258
13    202
Name: calories, dtype: int64

In [48]:
print(df[["calories","duration"]])

    calories  duration
0        420        50
1        380        40
2        390        45
3        220        40
4        540        32
5        250        25
6        850        85
7        360        65
8        520        25
9        123        12
10       425        15
11        20        25
12       258        32
13       202        33

In [52]:
df["weight"]=[75,55,75,55,42,43,45,45,47,49,55,58,92,98]

In [54]:
df.columns

Index(['calories', 'duration', 'weight'], dtype='object')

In [56]:
df=df.drop("duration",axis=1)

In [58]:
df.columns

Index(['calories', 'weight'], dtype='object')

## Pipe

In [6]:
import pandas as pd
df=pd.DataFrame({
    'A':[1,2,3],
    'B':[4,5,6]
})
def add_one(x):
    return x+1
def square(x):
    return x**2
df2=df.pipe(add_one).pipe(square)
print(df2)

    A   B
0   4  25
1   9  36
2  16  49

## apply

In [11]:
df=pd.DataFrame({
    'A':[1,2,3],
    'B':[10,20,30]
})
print(df.apply(sum,axis=0))
print(df.apply(lambda row:row['A']+row['B'],axis=1))

A     6
B    60
dtype: int64
0    11
1    22
2    33
dtype: int64

## Apply map

In [15]:
df=pd.DataFrame({
    'A':[1,2,3],
    'B':[10,20,30]
})
print(df.applymap(lambda x:x*2))

   A   B
0  2  20
1  4  40
2  6  60

# Pivot

In [20]:
import pandas as pd
data={
    'Name':['A','A','B','B'],
    'Subject':['Math','Science','Math','Science'],
    'Score':[85,90,78,88]
}
df=pd.DataFrame(data)
pivot_df=df.pivot(index='Name',columns='Subject',values='Score')
print(pivot_df)

Subject  Math  Science
Name
A          85       90
B          78       88

## Crosstab

In [23]:
data={
    'Name':['A','A','B','B','c'],
    'Subject':['Math','Science','Math','Science','Math']}
df=pd.DataFrame(data)
crosstab_df=pd.crosstab(df['Name'],df['Subject'])
print(crosstab_df)

Subject  Math  Science
Name
A           1        1
B           1        1
c           1        0